@import 'normalize.css';

:root {
    --primary: #D70018;
    --black: #000;
    --white: #fff;
    --text-color: #444;
    --font-family: "Roboto", sans-serif;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #333;
    line-height: 1.5;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-y: overlay;
}

button,
input {
    outline: none;
    border: none;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px 10px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.lable {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .5);
    z-index: 10;
}

.is-flex {
    display: flex !important;
}

.is-flex-direction-colum {
    flex-direction: column !important;
}

.is-align-items-center {
    align-items: center !important;
}

.is-justify-content-center {
    justify-content: center !important;
}

.is-justify-content-space-between {
    justify-content: space-between !important;
}

header .swiper-button-disabled {
    display: none;
}